html {
overflow: hidden;
content-zooming: none;
}

body {
background-color: black;
position: absolute;
margin: 0;
padding: 0;
width: 100%;
height: 100%;
}

canvas {
  display: block;
}

/*  Centering  */
body {
  display: flex;
  justify-content: center;
  align-items: center;
}